* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
}

body {
  background-color: #d3c5ff;
  height: 100vh;
  display: flex;
  align-items: center;
  color: rgb(53, 53, 53);
}

#main-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
}

.msg-container {
  font-size: 40px;
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 40px;
  margin: 20px;
}

#yes-btn {
  background-color: #9cff6b;
  width: 100px;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1a2b11;
}

#no-btn {
  background-color: #ff6b81;
  color: black;
  width: 100px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #2b1111;

  cursor: pointer;
}

#next-btn {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1a2b11;
}

#back-btn {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1a2b11;
}

.response-container {
  background-color: #f0e5ff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #c2a4ff;
}

.confirmed-container {
  background-color: #ffffff;
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #c2a4ff;
}

.confirmed-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #c2a4ff;
}

.todos-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
  padding: 20px;
}

.todo-container {
  background-color: #fbf5ff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #c2a4ff;
}

.todo-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #c2a4ff;
  padding-bottom: 20px;
}

/* Circles Animation */

.circles-Animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles-Animate div {
  position: absolute;
  display: block;
  background: rgba(94, 0, 108, 0.355);
  bottom: -150px;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    border-radius: 80%;
    transform: translateY(-1050px) rotate(1020deg);
  }
}

.circles-Animate div:nth-child(1) {
  width: 50px;
  height: 50px;
  left: 43%;
  animation-delay: 0s;
}

.circles-Animate div:nth-child(2) {
  width: 70px;
  height: 70px;
  left: 10%;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles-Animate div:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 3%;
  animation-delay: 1s;
}

.circles-Animate div:nth-child(4) {
  width: 46px;
  height: 46px;
  left: 57%;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circles-Animate div:nth-child(5) {
  width: 44px;
  height: 44px;
  left: 64%;
  animation-delay: 1s;
}

.circles-Animate div:nth-child(6) {
  width: 65px;
  height: 65px;
  left: 70%;
  animation-delay: 2s;
  animation-duration: 21s;
}

.circles-Animate div:nth-child(7) {
  width: 60px;
  height: 60px;
  left: 75%;
  animation-delay: 3s;
}

.circles-Animate div:nth-child(8) {
  width: 40px;
  height: 40px;
  left: 83%;
  animation-delay: 1s;
  animation-duration: 12s;
}

.circles-Animate div:nth-child(9) {
  width: 20px;
  height: 20px;
  left: 88%;
  animation-delay: 2s;
}

.circles-Animate div:nth-child(10) {
  width: 53px;
  height: 53px;
  left: 94%;
  animation-delay: 4s;
  animation-duration: 10s;
}

.circles-Animate div:nth-child(11) {
  width: 53px;
  height: 53px;
  left: 24%;
  animation-delay: 1s;
  animation-duration: 12s;
}

.circles-Animate div:nth-child(12) {
  width: 53px;
  height: 53px;
  left: 30%;
  animation-delay: 1s;
  animation-duration: 10s;
}

.circles-Animate div:nth-child(13) {
  width: 53px;
  height: 53px;
  left: 38%;
  animation-delay: 0s;
  animation-duration: 14s;
}

.circles-Animate div:nth-child(14) {
  width: 53px;
  height: 53px;
  left: 43%;
  animation-delay: 0s;
  animation-duration: 21s;
}

.circles-Animate div:nth-child(15) {
  width: 53px;
  height: 53px;
  left: 50%;
  animation-delay: 3s;
  animation-duration: 12s;
}
